PS_BDD_DB=let_note_dev
PS_BDD_USER=let_note
PS_BDD_PASS=let_note_dev_password_change_me
PS_BDD_PORT=5432
JWT_SECRET=let_note_dev_jwt_secret_change_me
COOKIE_SECURE=false
BACKEND_PORT=8081
FRONTEND_PORT=5173
VITE_API_BASE_URL=http://127.0.0.1:8081/api
