PS_BDD_DB=let_note_dev
PS_BDD_USER=let_note
PS_BDD_PASS=CHANGE_ME_STRONG_DB_PASSWORD
JWT_SECRET=CHANGE_ME_LONG_RANDOM_SECRET
COOKIE_SECURE=false
PS_BDD_PORT=5432
BACKEND_PORT=8081
VAULT_PORT=8200
VAULT_DEV_ROOT_TOKEN_ID=root
